*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    border: 4px dotted green;
}

#grid-container{
    height: 100vh;
    border: 10px solid #14a76c;
    display: grid;
    grid-template-columns: ;
}

.grid-item{
    background-color: #ccc;
    border: 4px solid #ff652f;
    padding: 20px;
}

.item-1{
}

.item-2{    
}

.item-3{    
}

.item-4{    
}

.item-5{    
}

.item-6{    
}

